{% extends "base.html" %}

{% load static %}

{% block title %} My Graphics {% endblock %}

{% block content %}
    <div class="custom-header" style="height: 35px;">
        <div class="bubbles"></div>
        <div class="header-inner">
            <div class="text-container" style="margin-left: -1300px; margin-top: -25px;">
                <h2 class="header-title">Maps</h2>
            </div>
        </div>
    </div>
    
    <div class="transparent-container">
        <h3>Maps, charts, and data provided by DATASUS, updates Monday 9pm</h3>
        <button class="my-button">
            DATASUS 
            <span><img src="{% static 'img/forward-Arrow4836.webp' %}" alt="forward-Arrow" width="15"></span>
        </button>
    </div>

    <iframe src="{% static 'html/brazil_states.html' %}" width="100%" height="600px" frameborder="0" style="border:none;"></iframe>
{% endblock %}